extends layout

block content
  h1= title
  p Varun Reddy #{title}
  buttonn(type="button", class="btn btn-secondary" onclick="updateCount()") Press ME

  p 
  div(id="target") Displaying contents

  script.
    var client_count=0;
    function updateCount(){
      client_count+=1;
      
      document.getElementById("target").innerHTML="Value Now "+client_count  ;
    } 

  a(href="Universities") Go to Universities Page